.container
    .jumbotron
        h1 Telerik academy courses
        h2 Best trainings in the world
    .row
        .col-md-6
            .panel.panel-primary
                .panel-heading Featured
                .panel-body(ng-include="'partials/main/featured-courses'")
        .col-md-6
            .panel.panel-primary
                .panel-heading Featured
                .panel-body(ng-include="'partials/main/new-courses'")